/* Global Styles */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  // margin: 0 auto;
  max-width: var(--container-width);
}
@media screen and (max-width: 979px) and (min-width: 768px) {
}
/* landscape phone */
@media screen and (min-width: 400px) and (max-width: 767px) {
  :root {
    --container-width: 100%;
    --gutter: 1rem;
  }
  .container {
    // max-width: calc(var(--container-width) + calc(var(--gutter) * 2));
    // padding-inline: var(--gutter);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__title {
    color: var(--color-very-dark-blue);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semibold);

    &__span {
      font-weight: var(--font-weight-700);
    }
  }
}

.button__curvy {
  padding: 1.3rem 4.5rem;
  border-radius: var(--border-radius-50);
  border: var(--border-1) solid var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
  transition: var(--animation-time);

  &:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
  }
}

.button__rectangle {
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 1.75rem 7.75rem;
  border-radius: var(--border-radius-10);
  position: relative;
  font-weight: var(--font-weight-bold);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 84%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 1rem;
    background: rgba(245, 56, 56, 0.35);
    display: flex;
    justify-content: center;
    filter: blur(27px);
    position: absolute;
    z-index: -1;
  }
}

.h2__heading {
  color: var(--color-very-dark-blue);
  font-size: 3.5rem;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-50);
  margin-bottom: 2rem;
}

.h3__heading {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-semibold);
  color: var(--color-very-dark-blue);
  line-height: var(--line-height-30);
}

.h4__heading {
  margin-top: 2rem;
  line-height: var(--line-height-30);
}

.link {
  transition: var(--animation-time);

  &:hover {
    color: var(--color-orange);
  }
}

@media screen and (max-width: 899px) and (min-width: 400px) {
  .h2__heading {
    font-size: 3rem;
  }
}
/*End Global Styles */
